<!DOCTYPE html>
<html lang="en">
<head>
  <title>XandrTools</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link  href="templates/styles.css" rel="stylesheet"  type="text/css">
</head>
<body>
  <script>
    function respNavigation() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
    
    function copyErrors(id) {
      var copytext = document.getElementById(id);
      navigator.clipboard.writeText(copytext.innerText);
    }
  </script>
  
  <div class="topnav" id="myTopnav">
    <a href="/">XandrTools</a>
    <div class="dropdown">
      <button class="dropbtn">Tools
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/validators">Validators</a>
        <a href="/textGenerator">Generate text sample</a>
        <a href="/bsstroubleshooter"> BSS Trouble Shooter</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">About
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="https://github.com/milla-v/xandr/releases/tag/{{.XandrVersion}}" target="_blank">xandr-lib-{{.XandrVersion}}</a>
        <a href="https://github.com/milla-v/xandrtools/commit/{{.VCS.RevisionFull}}" target="_blank">xandrtools-{{.VCS.RevisionShort}} {{if eq .VCS.Modified true}}modified{{end}}</a>
      </div>
    </div>
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="respNavigation()">&#9776;</a>
  </div>
  <div class="content-box">
    <div style="padding-left:16px">
      <h2>BSS Upload Troubleshooter</h2>
      <br>
      <form method="POST" name="login">
        <div style="display: flex;">
          <div style="margin: 10px;">
            {{if and (eq .IsLogin false) (eq .IsLoginWithToken false) (eq .IsJobs false)}}
              <label for="usernameid">User name:</label><br>
              <input type="text" id="usernameid" name="username" class="valid-input" {{if ne .User.Username ""}} value="{{.User.Username}}" {{else}} placeholder="Enter username" {{end}}><br>
              <label for="passwordid">Password:</label><br>
              <input type="password" id="passwordid" name="password" class="valid-input" placeholder="Enter password"><br>
              <input type="submit" value="Login" name="submit" class="valid-submit" style="margin-top: 10px;">
              <p>OR</p>
              <input type="usertoken" id="usertokenid" name="usertoken" class="valid-input" {{if ne .User.Token ""}} value="{{.User.Token}}" {{else}} placeholder="Enter token" {{end}}><br>
              <input type="submit" value="Login with Token" name="submit" class="valid-submit" style="margin-top: 10px;">
            {{end}}
            {{if and (eq .IsLogin true) (eq .IsLoginWithToken false)}}
              <label for="usernameid">Get jobs User name:</label><br>
              <input type="text" id="usernameid" name="username" class="valid-input" {{if ne .User.Username ""}} value="{{.User.Username}}" {{else}} placeholder="Enter username" {{end}}><br>
              <label for="tokenid">Token:</label><br>
              <input type="text" id="tokenid" name="token" class="valid-input" {{if ne .User.Token ""}} value="{{.User.Token}}" {{else}} placeholder="Enter token" {{end}}><br>
              <label for="memberid">Member ID:</label><br>
              <input type="text" id="memberid" name="memberid" class="valid-input" {{if ne .User.MemberID 0}} value="{{.User.MemberID}}" {{else}} placeholder="Enter Member ID" {{end}}><br>
              <input type="submit" value="Get Jobs" name="submit" class="valid-submit" style="margin-top: 10px;">
            {{end}}
            {{if and (eq .IsLogin false) (eq .IsLoginWithToken true)}}
              <label for="tokenid">Token:</label><br>
              <input type="text" id="tokenid" name="token" class="valid-input" {{if ne .User.Token ""}} value="{{.User.Token}}" {{else}} placeholder="Enter token" {{end}}><br>
              <label for="memberid">Member ID:</label><br>
              <input type="text" id="memberid" name="memberid" class="valid-input" {{if ne .User.MemberID 0}} value="{{.User.MemberID}}" {{else}} placeholder="Enter Member ID" {{end}}><br>
              <input type="submit" value="Get Jobs" name="submit" class="valid-submit" style="margin-top: 10px;">
            {{end}}
            {{if eq .IsJobs true}}
              <label for="tokenid">Token:</label><br>
              <input type="text" id="tokenid" name="token" class="valid-input" {{if ne .User.Token ""}} value="{{.User.Token}}" {{else}} placeholder="Enter token" {{end}}><br>
              <label for="memberid">Member ID:</label><br>
              <input type="text" id="memberid" name="memberid" class="valid-input" {{if ne .User.MemberID 0}} value="{{.User.MemberID}}" {{else}} placeholder="Enter Member ID" {{end}}><br>
              <input type="submit" value="Get Jobs" name="submit" class="valid-submit" style="margin-top: 10px;">
            {{end}}
          </div>
          <div style="margin: 10px;">
          <label></label><br>
            <select name="backend" style="padding: 10px; font-size: inherit; margin-top: 5px;">
            	<option>simulator</option>
            	<option>xandr</option>
            </select>
          </div>
        </div>
      </form>
      {{if eq .IsJobs true}}
        <div style="display: flex;">
          <div style="margin: 10px;">
            <table id="jobs">
            {{range .JobList}}
              <tr>
                <th colspan="3">Job ID : {{.BatchSegmentUploadJob.JobID}}<button onclick="copyErrors('{{.BatchSegmentUploadJob.JobID}}')" class="copy-error-btn">Copy Errors</button></th>
              </tr>
              <tr>
                <td>comleted_time:</td>
                <td>{{.BatchSegmentUploadJob.CompletedTime}}</td>
                <td>ok</td>
              </tr>
              <tr>
                <td>created_on:</td>
                <td>{{.BatchSegmentUploadJob.CreatedOn}}</td>
                <td>ok</td>
              </tr>
              <tr>
                <td>error_code:</td>
                <td>{{.BatchSegmentUploadJob.ErrorCode}}</td>
                <td>ok</td>
              </tr>
              <tr>
                <td>error_log_lines:</td>
                <td>{{.BatchSegmentUploadJob.ErrorLogLines}}</td>
                {{if ne .BSUJerror.ErrorLogLinesErr ""}}
                  <td style="color:red;">{{.BSUJerror.ErrorLogLinesErr}}</td>
                {{else}}
                  <td></td>
                {{end}}
              </tr>
              <tr>
                <td>id:</td>
                <td>{{.BatchSegmentUploadJob.ID}}</td>
                <td>ok</td>
              </tr>
              <tr>
                <td>is_beam_file:</td>
                <td>{{.BatchSegmentUploadJob.IsBeamFile}}</td>
                <td>ok</td>
              </tr>
              <tr>
                <td>job_id:</td>
                <td>{{.BatchSegmentUploadJob.JobID}}</td>
                <td>ok</td>
              </tr>
              <tr>
                <td>last_modified:</td>
                <td>{{.BatchSegmentUploadJob.LastModified}}</td>
                <td>ok</td>
              </tr>
              <tr>
                <td>member_id:</td>
                <td>{{.BatchSegmentUploadJob.MemberID}}</td>
                <td>ok</td>
              </tr>
              <tr>
                <td>num_inactive_segment:</td>
                <td>{{.BatchSegmentUploadJob.NumInactiveSegment}}</td>
                <td>ok</td>
              </tr>
              <tr>
                <td>num_invalid_format:</td>
                <td>{{.BatchSegmentUploadJob.NumInvalidFormat}}</td>
                {{if ne .BSUJerror.NumInvalidFormatErr ""}}
                  <td style="color:red;">{{.BSUJerror.NumInvalidFormatErr}}</td>
                {{else}}
                  <td></td>
                {{end}}
              </tr>
              <tr>
                <td>num_invalid_segment:</td>
                <td>{{.BatchSegmentUploadJob.NumInvalidSegment}}</td>
                <td>ok</td>
              </tr>
              <tr>
                <td>num_invalid_timestamp:</td>
                <td>{{.BatchSegmentUploadJob.NumInvalidTimestamp}}</td>
                <td>ok</td>
              </tr>
              <tr>
                <td>num_invalid_user:</td>
                <td>{{.BatchSegmentUploadJob.NumInvalidUser}}</td>
                <td>ok</td>
              </tr>
              <tr>
                <td>num_other_error:</td>
                <td>{{.BatchSegmentUploadJob.NumOtherError}}</td>
                <td>ok</td>
              </tr>
              <tr>
                <td>num_past_expiration:</td>
                <td>{{.BatchSegmentUploadJob.NumPastExpiration}}</td>
                <td>ok</td>
              </tr>
              <tr>
                <td>num_unauth_segment:</td>
                <td>{{.BatchSegmentUploadJob.NumUnauthSegment}}</td>
                {{if ne .BSUJerror.NumUnauthSegmentErr ""}}
                  <td style="color:red;">{{.BSUJerror.NumUnauthSegmentErr}}</td>
                {{else}}
                  <td></td>
                {{end}}
              </tr>
              <tr>
                <td>num_valid:</td>
                <td>{{.BatchSegmentUploadJob.NumValid}}</td>
                <td>ok</td>
              </tr>
              <tr>
                <td>num_valid_user:</td>
                <td>{{.BatchSegmentUploadJob.NumValidUser}}</td>
                <td>ok</td>
              </tr>
              <tr>
                <td>percent_complete:</td>
                <td>{{.BatchSegmentUploadJob.PercentComplete}}</td>
                <td>ok</td>
              </tr>
              <tr>
                <td>phase:</td>
                <td>{{.BatchSegmentUploadJob.Phase}}</td>
                <td>ok</td>
              </tr>
              <tr>
                <td>segment_log_lines:</td>
                <td>{{.BatchSegmentUploadJob.SegmentLogLines}}</td>
                <td>ok</td>
              </tr>
              <tr>
                <td>start_time:</td>
                <td>{{.BatchSegmentUploadJob.StartTime}}</td>
                <td>ok</td>
              </tr>
              <tr>
                <td>time_to_process:</td>
                <td>{{.BatchSegmentUploadJob.TimeToProcess}}</td>
                <td>ok</td>
              </tr>
              <tr>
                <td>uploaded_time:</td>
                <td>{{.BatchSegmentUploadJob.UploadedTime}}</td>
                <td>ok</td>
              </tr>
              <tr>
                <td>validated_time:</td>
                <td>{{.BatchSegmentUploadJob.ValidatedTime}}</td>
                <td>ok</td>
              </tr>
              <tr>
                <td>match rate:</td>
                <td>{{.BatchSegmentUploadJob.MatchRate}}%</td>
                {{if ne .BSUJerror.MatchRateErr ""}}
                  <td style="color: red;">{{.BSUJerror.MatchRateErr}}</td>
                {{else}}
                  <td>
                {{end}}
              </tr>
              <tr>
                <td colspan="3">
                  <div style="display:none;" id="{{.BatchSegmentUploadJob.JobID}}">
{{range .JobErrors}}
--{{.}}<br>
{{end}}
                  </div>
                </td>
              </tr>
            {{end}}
            </table>
          </div>
        </div>
      {{end}}
    </div>
  </div>

  <div class="footer">
    <div class="footer-col">
    <span>Powered by <a href="https://xandrtools.com/">xandrtools.com</a></span><br>
    <span>{{.XandrVersion}}</span>
    </div>
  </div>
</body>
</html>
