<!DOCTYPE html>
<html lang="en">
<head>
  <title>XandrTools</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link  href="templates/styles.css" rel="stylesheet"  type="text/css">
</head>
<body>
  <script>
    function respNavigation() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
  </script>
  
  <div class="topnav" id="myTopnav">
    <a href="/">XandrTools</a>
    <div class="dropdown">
      <button class="dropbtn">Tools
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/validators">Validators</a>
        <a href="/textGenerator">Generate text sample</a>
        <a href="/bsstroubleshooter"> BSS Trouble Shooter</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">About
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="https://github.com/milla-v/xandr/releases/tag/{{.XandrVersion}}" target="_blank">xandr-lib-{{.XandrVersion}}</a>
        <a href="https://github.com/milla-v/xandrtools/commit/{{.VCS.RevisionFull}}" target="_blank">xandrtools-{{.VCS.RevisionShort}} {{if eq .VCS.Modified true}}modified{{end}}</a>
      </div>
    </div>
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="respNavigation()">&#9776;</a>
  </div>
  <div class="content-box">
    <div style="padding-left:16px">
      <h2>BSS Upload Troubleshooter</h2>
      <br>
      <form method="POST">
        <input type="text" id="usernameid" name="username" class="valid-input" {{if ne .Auth.Auth.Username ""}} value="{{.Auth.Auth.Username}}" {{else}} placeholder="Enter username" {{end}}><br>
        {{if eq .Token ""}}
          <input type="text" id="passwordid" name="password" class="valid-input" {{if ne .Auth.Auth.Password ""}} value="{{.Auth.Auth.Password}}" {{else}} placeholder="Enter password" {{end}}><br>
        {{end}}
        <input type="submit" value="Login" class="valid-submit" style="margin-top: 10px;">
      </form>
        {{if ne .Token ""}}
          <input type="text" id="tokenid" name="token" class="valid-input" value="{{.Token}}"><br>
        {{end}}
    </div>
  </div>

  <div class="footer">
    <div class="footer-col">
      {{.XandrVersion}}
    </div>
  </div>
</body>
</html>
