<!DOCTYPE html>
<html lang="en">
<head>
  <title>XandrTools</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link  href="templates/styles.css" rel="stylesheet"  type="text/css">
</head>
<body onload="init()">
  <script>
    var selected = -1;
    
    function respNavigation() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }

    function checkField(name) {
      var checkBox = document.getElementById(name);
      var text = document.getElementById("field_"+name);
      if (checkBox.checked == true){
        text.style.display = "block";
        var c = checked.removeChild(text);
        checked.appendChild(c);
        selected++;
//        text.name = "sel_" + selected;
      } else {
         text.style.display = "none";
//         text.name = "";
      }

      var s = '';
      for (var i = 0; i < checked.children.length; i++) {
      	if (checked.children[i].style.display != 'none') {
      		s += '-' + checked.children[i].value;
      	}
      }
      sf.value = s.replace(/^-/, '');
    }
    
    function copyOut() {
      var s = window.location.href;
      navigator.clipboard.writeText(s);
//      alert("Copied the text: " + s);
      copy_link_button.style.border = "solid 1px royalblue";

      var reset = function() {
      	copy_link_button.style.border = "solid 1px white";
      }

      setTimeout(reset, 2000);
    }

    function setTab(id) {
    	var inp = document.getElementById('inp_' + id);
    	inp.value = 'TAB';
    }

    function setSpace(id) {
    	var inp = document.getElementById('inp_' + id);
    	inp.value = 'SPACE';
    }

    function init() {
    	{{.InitScript}}
    }

  </script>
  
  <div class="topnav" id="myTopnav">
    <a href="/">XandrTools</a>
    <div class="dropdown">
      <button class="dropbtn">Tools
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/validators">Validators</a>
        <a href="/textGenerator">Generate text sample</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">About
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="https://github.com/milla-v/xandr/releases/tag/{{.XandrVersion}}" target="_blank">xandr-lib-{{.XandrVersion}}</a>
        <a href="https://github.com/milla-v/xandrtools/commit/{{.VCS.RevisionFull}}" target="_blank">xandrtools-{{.VCS.RevisionShort}} {{if eq .VCS.Modified true}}modified{{end}}</a>
      </div>
    </div>
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="respNavigation()">&#9776;</a>
  </div>
  
  <div class="content-box">
    <div style="padding-left:16px">
      <h2>Generate text sample:</h2>
      <a href="https://learn.microsoft.com/en-us/xandr/digital-platform-api/legacy-bss-file-format">Format description</a><br>
      
      <div>
          <div style="padding-top: 5px;">
            <div class="segment-box">
              <h3>Segment fields</h3>
              <input type="checkbox" id="seg_id" onclick="checkField('seg_id')">
              <label for="seg_id">SEG_ID</label><br>
              <input type="checkbox" id="seg_code" onclick="checkField('seg_code')">
              <label for="seg_code">SEG_CODE</label><br>
              <input type="checkbox" id="member_id" onclick="checkField('member_id')">
              <label for="member_id">MEMBER_ID</label><br>
              <input type="checkbox" id="timestamp" onclick="checkField('timestamp')">
              <label for="timestamp">TIMESTAMP</label><br>
              <input type="checkbox" id="value" onclick="checkField('value')">
              <label for="value">VALUE</label><br>
              <input type="checkbox" id="expiration" onclick="checkField('expiration')">
              <label for="expiration">EXPIRATION</label><br>
            </div>
          <form method="GET">
            <div>
              <h3>Separators</h3>
              <label for="sep_1">SEP_1</label>
              <input type="text" id="inp_sep_1" name="sep_1" value="{{.Seps.Sep1}}">
              <span title="Separates the user ID from the segment list">&#9432;</span>
              <a title="click to enter TAB ('\t') character in input box" href="javascript:setTab('sep_1')">tab</a>
              <a title="click to enter SPACE (' ') character in input box" href="javascript:setSpace('sep_1')">space</a><br>
              
              <label for="sep_2">SEP_2</label>
              <input type="text" name="sep_2" value="{{.Seps.Sep2}}">
              <span title="Separates segments">&#9432;</span><br>

              <label for="sep_3">SEP_3</label>
              <input type="text" name="sep_3" value="{{.Seps.Sep3}}">
              <span title="Separates segment fields">&#9432;</span><br>

              <label for="sep_4">SEP_4</label>
              <input type="text" id="inp_sep_4" name="sep_4" value="{{.Seps.Sep4}}">
              <span title="Separates segments to remove">&#9432;</span>
              <a title="click to enter TAB ('\t') character in input box" href="javascript:setTab('sep_4')">tab</a>
              <a title="click to enter SPACE (' ') character in input box" href="javascript:setSpace('sep_4')">space</a><br>

              <label for="sep_5">SEP_5</label>
              <input type="text" name="sep_5" value="{{.Seps.Sep5}}">
              <span title="Separates domain">&#9432;</span><br>
            </div>
          </div>
          <div class="fields-sample-container" id="checked">
            <input type="text" id="field_seg_id" style="display:none" class="field-sample-input" value="SEG_ID">
            <input type="text" id="field_seg_code" style="display:none" class="field-sample-input" value="SEG_CODE">
            <input type="text" id="field_member_id" style="display:none" class="field-sample-input" value="MEMBER_ID">
            <input type="text" id="field_timestamp" style="display:none" class="field-sample-input" value="TIMESTAMP">
            <input type="text" id="field_value" style="display:none" class="field-sample-input" value="VALUE">
            <input type="text" id="field_expiration" style="display:none" class="field-sample-input" value="EXPIRATION">
          </div>
          {{if ne .GenError ""}}
            <p style="color: red;">{{.GenError}}</p>
          {{end}}
          <input type="submit" value="Generate" class="valid-submit" style="margin-top: 10px;">
          <input type="hidden" id="sf" name="sf">
  	      </form>
      </div>
      {{if eq .ShowText true}}
      <div class="gen-text-container">
        	<textarea class="gen-box">{{- .GeneratedText -}}</textarea>
        <div class="valid-box">
          <input type="hidden" id="out" name="out" ><br>
          <div title="Copy link" class="box-btn-copy"  onclick="copyOut()"><img id="copy_link_button" src="templates/copy_btn.png" alt=""></div>
        </div>
      </div>
      {{end}}
    </div>
  </div>

  <div class="footer">
    <div class="footer-col">
     
    </div>
  </div>
</body>
</html>
