<!DOCTYPE html>
<html lang="en">
<head>
  <title>XandrTools</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link  href="templates/styles.css" rel="stylesheet"  type="text/css">
</head>
<body>
  <script>
    var selected = -1;
    
    function respNavigation() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }

    function checkField(name) {
      var checkBox = document.getElementById(name);
      var text = document.getElementById("field"+name);
      if (checkBox.checked == true){
        text.style.display = "block";
        var c = checked.removeChild(text);
        checked.appendChild(c);
        selected++;
        text.name = "sel_" + selected;
      } else {
         text.style.display = "none";
         text.name = "";
      }
    }
    
    function copyOut() {
      // Get the text field
      var copyID = document.getElementById("out");
    
      // Select the text field
      copyID.select();
      copyID.setSelectionRange(0, 99999); // For mobile devices
    
      // Copy the text inside the text field
      navigator.clipboard.writeText(window.location.href + "?id=" + copyID.value);
      
      // Alert the copied text
      alert("Copied the text: " + window.location.href + "?id=" + copyID.value);
    }

  </script>
  
  <div class="topnav" id="myTopnav">
    <a href="#home">XandrTools</a>
    <div class="dropdown">
      <button class="dropbtn">Tools
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
    <a href="#home">Contacts</a>
    <a href="#news">About</a>
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="respNavigation()">&#9776;</a>
  </div>
  
  <div class="content-box">
    <div style="padding-left:16px">
      <h2>Generate text sample:</h2>
      <div>
          <div class="segment-box">
            <input type="checkbox" id="one" onclick="checkField('one')">
            <label for="one">Segment One:</label><br>
            <input type="checkbox" id="three" onclick="checkField('three')">
            <label for="three">Segment two:</label><br>
            <input type="checkbox" id="five" onclick="checkField('five')">
            <label for="five">Segment three:</label><br>
            <input type="checkbox" id="seven" onclick="checkField('seven')">
            <label for="seven">Segment four:</label><br>
            <input type="checkbox" id="nine" onclick="checkField('nine')">
            <label for="nine">Segment five:</label><br>
          </div>
          <div>
            <input type="checkbox" id="two" onclick="checkField('two')">
            <label for="two">:</label><br>
            <input type="checkbox" id="four" onclick="checkField('four')">
            <label for="four">;</label><br>
            <input type="checkbox" id="six" onclick="checkField('six')">
            <label for="six">,</label><br>
            <input type="checkbox" id="eight" onclick="checkField('eight')">
            <label for="eight">^</label><br>
            <input type="checkbox" id="ten" onclick="checkField('ten')">
            <label for="ten">UNK</label><br>
          </div>
        </div>
      <form method="POST" name="fields">
        <div class="fields-sample-container" id="checked">
          <input type="text" id="fieldone" style="display:none" class="field-sample-input" value="SEG_ID">
          <input type="text" id="fieldtwo" style="display:none" class="field-sample-input-small" value=":">
          <input type="text" id="fieldthree" style="display:none" class="field-sample-input" value="SEG_CODE">
          <input type="text" id="fieldfour" style="display:none" class="field-sample-input-small" value=";">
          <input type="text" id="fieldfive" style="display:none" class="field-sample-input" value="MEMBER_ID">
          <input type="text" id="fieldsix" style="display:none" class="field-sample-input-small" value=",">
          <input type="text" id="fieldseven" style="display:none" class="field-sample-input" value="TIMESTAMP">
          <input type="text" id="fieldeight" style="display:none" class="field-sample-input-small" value="^">
          <input type="text" id="fieldnine" style="display:none" class="field-sample-input" value="VALUE">
          <input type="text" id="fieldten" style="display:none" class="field-sample-input-small" value="UNK">
        </div>
         <input type="submit" value="Generate" class="valid-submit">
      </form>
      {{if eq .SegmentsExists true}}
        <p>STRING: {{.ID}} </p>
        <div class="valid-box">
        <input type="text" id="out" name="xuid" class="valid-input-out" value="{{.ID}}"><br>
        <div title="Copy" class="box-btn-copy"  onclick="copyOut()"><img src="templates/copy_btn.png" alt=""></div>
        </div>
      {{end}}
    </div>
  </div>

  <div class="footer">
    <div class="footer-col">
     <a href="#">Terms</a>
    </div>
  </div>
</body>
</html>
