<!DOCTYPE html>
<html lang="en">
<head>
  <title>XandrTools</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link  href="templates/styles.css" rel="stylesheet"  type="text/css">
</head>
<body>
  <script>
    function respNavigation() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
  </script>
  
  <div class="topnav" id="myTopnav">
    <a href="/">XandrTools</a>
    <div class="dropdown">
      <button class="dropbtn">Tools
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/validators">Validators</a>
        <a href="/textGenerator">Generate text sample</a>
      </div>
    </div>
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="respNavigation()">&#9776;</a>
  </div>
  
  <div class="content-box">
    <div style="padding-left:16px">
      <br>
      <a href="/validators">Validators</a>
      <br>
      <br>
      <a href="/textGenerator">Generate text sample</a>
    </div>
  </div>

  <div class="footer">
    <div class="footer-col">
    
    </div>
  </div>
</body>
</html>